

header {
   
}

.sticky { 
display: flex;
width: 100%;
align-items: center;
justify-content: stretch;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1em;
}

#header-left { 
    display: flex;
    flex-basis: 50%;
    justify-content: center;
}

#header-right { 
    display: flex;
    justify-content: flex-end;
    flex-basis: 50%;
    
}

.input-container {
    width: 100%;
    margin: 0;
}

input {
    position: relative;
    border-radius: 30px;
    width: 100%;
    height: 2em;
}

#input-clear {
    position: absolute;
    right: 3em;
    fill: grey;
}

#input-search {
    position: absolute;
    right: 1em;
    border-left: 1px solid lightgrey;
    padding-left: 3px;
    fill: #4285f4;
}

button {
    background-color: #1a73e8;
    color: white;
    font-size: 14px;
    padding: .5em 1.5em;
    border-radius: 5px;
    margin-left: 1em;
}

.header-row-2, .row-2-nav { outline: 1px dashed pink;
    width: 100%;
    display: flex;
    align-items: center;
}
.row-2-nav { outline: 2px dotted teal;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.row-2-option {
    font-size: 14px;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}