body {
    font-family: arial, sans-serif;
}

header {
    position: relative;
    display: block;
    min-width: 1261px;
    width: 100%;
    overflow: clip;
}

section {
    width: 100%;
    margin: 0;
}

.sticky { 
display: flex;
position: sticky;
min-width: 1261px;
width: 100%;
align-items: center;
justify-content: stretch;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    margin: .75em;
}

#header-left { 
    display: flex;
    justify-content: flex-start;
    flex-basis: 65%;
}

.logo {
    margin-right: 3em;
    margin-left: .1em;
}

#header-right { 
    display: flex;
    justify-content: flex-end;
    flex-basis: 35%;
}

.input-container {
    width: 700px;
    margin: 0;
}

input {
    position: relative;
    border-radius: 30px;
    width: 100%;
    height: 2em;
    text-indent: 1em;
    border: 1px solid  #BDBDBD;
}

/* sets 'X' icon in input */
#input-clear {
    position: absolute;
    right: 3em;
    fill: grey;
}

/* sets search icon in input */
#input-search {
    position: absolute;
    right: 1em;
    border-left: 1px solid lightgrey;
    padding-left: 3px;
    fill: #4285f4;
}

/* login button styling */
button {
    background-color: #1a73e8;
    color: white;
    font-size: 14px;
    padding: .5em 1.5em;
    border-radius: 5px;
    margin-left: 1em;
}

/* advanced search settings row of header */
.header-row-2 {
    margin: -1em;
    margin-left: 150px;
    width: 675px;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}    

nav a {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    color: #5f6368;
    text-decoration: none;
    padding: 16px 12px 12px 10px;
    line-height: 25px;
}

/* advanced search icons */
.option-icon {
    fill: #5f6368;
    padding-right: 3px;
}

span svg {
    height: 16px;
    width: 16px;
    vertical-align: middle;
}

/* divider between header and results */
.line {
    height: 1px;
    width: 100%;
    min-width: 1261px;
    background-color: #ebebeb;

}

.search-stats {
    color: #70757a;
    font-size: 13px;
    margin-left: 175px;
}

/* container for search results */
.body-container {
    width: 100%;
    min-width: 1261px;
    display: flex;
}

/* general settings for left and right sides */
.content-left, 
.content-right { 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 45%;
    flex-basis: 50%;
    
}

main {
    display: flex;
    flex-direction: column;
}

.content-left {
    margin-left: 175px;
    min-width: 675px;
    margin-right: 35px;
}

.content-right {
    margin-left: 35px;
}

/* container for single result */
.search-result {
    max-width: 600px;
}

/* search result link container */
.search-title-link { 
    display: flex;;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    text-align: left;
    text-decoration: none;
}

.citation-container {
    display: flex;
    justify-content: left;
    align-items: baseline;
}

/* search result heading */
/* TODO: fix line height/padding */
.search-title { 
    width: 100%;
    margin: 0;
    font-family: arial, sans-serif;
    font-weight: normal;
    line-height: 30px;

}

/* search result basic citation (above heading) */
/* TODO: fix line spacing */

cite { 
    font-style: normal;
    color: #202124;
    margin-top: .5em;
    line-height: 22px;
    font-size: 13px;
}

cite :first-of-type {
    color: #70757a;
}


/* paragraph in search results */
.search-snippet {
    width: 100%;
    margin: 0;
    line-height: 22px;
    color: #70757a;
    font-size: 14px;
}



/* container for additional links at bottom of individual search result */
.search-extra-links {
    margin: 0;
}

/* individual link w/in .search-extra-links container */
.extra-link {
    text-decoration: none;
    font-size: 14px;
}

/* drop-down list below first search result */
.also-asked {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

.also-asked-header-container {
    display: flex;
    justify-content: start;
    width: 95%;
    border: 1px solid #ebebeb;
    margin-top: 30px;
    margin-left: 5px;
    line-height: 40px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}


.also-asked-header, .images-for-header {
    font-weight: lighter;
    font-size: 20px;
    margin: 0;
    padding-left: 15px;
}

#more-option-icon {
    margin-left: 15px;
}

.also-asked-choice-container { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    border: 1px solid  #ebebeb;
    border-top: 0;
    color:  #202124;
    margin-left: 5px;
}

p.also-asked-choice {
   padding-left: 15px;
   margin-top: 12px;
   margin-bottom: 12px;
}

.also-asked-choice-nav {
    padding-right: 15px;
}

.also-asked-choice-nav svg, 
.attached-nav svg, .named-icon-drop-icon svg, .images-for-header-container svg {
    height: 24px;
    width: 24px;
    line-height: 24px;
    fill: #70757a;
}

.final-choice {
    position: relative;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    margin-bottom: 24px;
}

.final-choice::after {
    position: absolute;
    right: 15px;
    bottom: -20px;
    content: "Feedback";
    font-style: italic;
    font-size: 12px;
    color:  #70757a;
    padding-left: 14px;
    background-color: #ffffff;
}

.also-asked-choice-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-decoration: none;
    color: #202124;
}

.attached-choice {
    border-left: 0;
    border-right: 0;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 22px;
    color: #70757a;
    width: 100%;
}

.search-attached-drop-downs {
    margin-top: 12px;
    border-top: 1px solid #ebebeb;
}

p.attached-choice {
    margin: 0;
    padding: 0;
    line-height: 35px;
}

.attached-nav {
    padding-right: 0;
}

.all-stats {
    
    display: flex;
    min-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 14px;
    color: #70757a;
    line-height: 22px;
    margin-top: 5px;
}

.stat {
    display: flex;
    width: 50%;
    justify-content: flex-start;
}

.stat-title {
    font-weight: bold;
}

.stat-text {
    padding-left: 3px;
}

/* BEGIN "IMAGES FOR" RESULTS */
.images-for-odin-container {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.images-for-header-container, .named-icons-group {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.named-icons-group {
    justify-content: space-around;
    width: 80%;
}

.images-for-named-with-icon-container { 
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.named-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #dadce0;
    border-radius: 18px;
    height: 32px;
    min-width: 36px;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 400;
    color: #3c4043;
}

.named-icon svg {
    position: absolute;
    left: -2px;
    height: 36px;
    width: 36px;
    padding: 0;
    margin: 0;
    
}

.named-icon-drop-icon svg {
    border: 1px solid #ebebeb;
    border-radius: 50%;
    padding: 5px;
    margin-top: 3px;
}

.unnamed-images-row-container {
    height: 130px;
    width: 97%;
    display: block;
    position: relative;
}

.unnamed-images-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.unnamed-images-container img {
    margin-left: 2px;
}

.more-images-scroll-right svg {
    border: 1px solid #ebebeb;
    border-radius: 50%;
    fill: #70757a;
    padding: 5px;
    box-shadow: 0px 3px 10px -5px #70757a;
    position: absolute;
    top: 40%;
    right: -18px;
}

.report-images-link {
    display: block;
    width: 99%;
    font-size: 13px;
    text-decoration: none;
    text-align: right;
    padding-top: 7px;
    color: #70757a;
}



/* suggested searches drop-down list */
.drop-down-info {
    border: 1px solid grey;
}

