

header {outline: 1px solid lightgreen;
    width: 100%;
}

section { //outline: 1px solid rgb(47, 47, 184);
display: flex;
width: 100%;
align-items: center;
}

.container {
    position: relative;
    display: flex;
    align-items: center;
    margin: 1em;
}

#header-left {
    display: flex;
    min-width: 50%;
    justify-content: space-between;
}

#header-right { outline: 1px dashed pink;
    display: flex;
    min-width: 25%;
    width: 100%;
    justify-content: flex-end;
}

input {
    position: relative;
    border-radius: 30px;
    width: 100%;
}